In [4]:
import pandas as pd
from datetime import timedelta
import utils, os

%config InlineBackend.figure_format = 'svg'

In [2]:
settings = utils.load_settings()
cleaned_data_dir = settings["cleaned_data_dir"]
plots_dir = settings["plots_dir"]

In [3]:
df = pd.read_parquet(os.path.join(cleaned_data_dir, "cleaned_dataset.parquet"))
df.drop(columns=["Accession ID", "col_date", "sub_date", 'country'], inplace=True)

In [8]:
start_date = pd.to_datetime('2020-03-29')  
n_days_delta = timedelta(days=7)

In [9]:
df_before = df[df['date'] <= start_date]
df_before

,lineage,country,date,sequence
0,B.1,Niger,2020-01-01,AAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCT...
1,B.1.221,Morocco,2020-02-02,AACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAAC...
2,B.1,Morocco,2020-02-02,AACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAAC...
3,B.1,Morocco,2020-02-02,AACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAAC...
4,B.1.221,Morocco,2020-02-02,AACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAAC...
...,...,...,...,...
264,B.1,Algeria,2020-03-29,TTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGT...
265,A,Nigeria,2020-03-29,GGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTT...
266,B.1.476,Nigeria,2020-03-29,CTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGT...
267,A,Togo,2020-03-29,TATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAG...
268,B.1,South Africa,2020-03-29,ACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACT...

In [10]:
mask = (df['date'] > start_date) & (df['date'] <= start_date + n_days_delta)
selected_observations = df.loc[mask]

In [11]:
selected_observations

,lineage,country,date,sequence
269,B.1.9,Tunisia,2020-03-30,ACTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCT...
270,B.1,Senegal,2020-03-30,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...
271,B.1,South Africa,2020-03-30,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...
272,B.1,Morocco,2020-03-30,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
273,B,Uganda,2020-03-30,AACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAAC...
...,...,...,...,...
367,B.1,South Africa,2020-04-05,ACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACT...
368,B.1,South Africa,2020-04-05,ACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACT...
369,B.40,Nigeria,2020-04-05,GGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTT...
370,B.1,South Africa,2020-04-05,ACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATC...
371,B.1,South Africa,2020-04-05,AACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAAT...

In [13]:
start_date + n_days_delta

Timestamp('2020-04-05 00:00:00')

In [14]:
2 * n_days_delta

datetime.timedelta(days=14)