In [1]:
import pandas as pd
import numpy as np
import numpy as np
from scipy.signal import fftconvolve
from concurrent.futures import ThreadPoolExecutor
import numpy.fft as fft
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

In [2]:
data = pd.read_parquet('../../data/processed/genomes.parquet', engine='pyarrow')  # You can use 'fastparquet' as the engine
data

,Accession ID,Lineage,Collection date,Sequence,Test
0,EPI_ISL_16823464,XBB.1.5,2023-01-31,TAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATC...,0
1,EPI_ISL_3342425,AY.116,2021-07-26,GTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGC...,0
2,EPI_ISL_1715410,B.1.525,2021-01-12,AGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCT...,1
3,EPI_ISL_515786,B.1.1.57,2020-07-29,TTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGT...,0
4,EPI_ISL_17385094,BQ.1.1,2023-02-06,TACGGCGCCGATCTAAAGTCATTTGACTTAGGCGACGAGCTTGGCA...,1
...,...,...,...,...,...
47317,EPI_ISL_15963061,CP.5,2022-11-01,TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTC...,1
47322,EPI_ISL_15963067,BE.7,2022-11-05,TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTC...,1
47324,EPI_ISL_15963069,BE.7,2022-11-05,CTAAACGANCTTTAAAATCTGTGTGGCTGTCNCTCGGCTGCATNCT...,1
47344,EPI_ISL_18407436,BA.1,2022-07-26,TTGTAGATCTGTTCTCTAAACGAACNTGAAAATCTGTGTGGCTGTC...,1
47350,EPI_ISL_15426702,BA.4,2022-08-17,TTGTAGATCTGTTCTCTAAACGAACNNNNNNNNNNNNNNNNNNNNN...,1

In [3]:
data['Sequence'] = data['Sequence'].str.replace('[^ACTG]', '', regex=True)

In [4]:
def numMappingReal(sq):
    # Mapping for each character
    mapping = {'A': -1.5, 'C': 0.5, 'G': -0.5, 'T': 1.5}

    # Convert sequence to upper case for case-insensitive comparison
    sq_upper = sq.upper()

    # Using list comprehension to create the numerical sequence
    numSeq = [mapping[char] if char in mapping else 0 for char in sq_upper]

    return numSeq

def process_sequence(seq):
    """
    Process a single sequence - this includes mapping, length normalization,
    and computing the Fourier transform and magnitude spectrum.
    
    """
    
    mLen = 29586
    
    # Map the sequence using a hypothetical numMappingPP function
    ns = numMappingReal(seq)  # You need to define numMappingPP

    # Length normalization
    I = mLen - len(ns)
    if I > 0:
        ns_temp = np.pad(ns, (I, 0), 'constant', constant_values=(0,))  # Extend at the beginning
        ns_new = ns_temp[I:]  # Adjust the sequence length
    elif I < 0:
        ns_new = ns[:mLen]  # Truncate the sequence
    else:
        ns_new = ns

    # Fourier transform and magnitude spectrum
    f_transform = fft.fft(ns_new)
    magnitude_spectrum = np.abs(f_transform)

    return magnitude_spectrum

In [5]:
trans = []
for genome in data["Sequence"]:
    trans.append(process_sequence(genome)
computed_result_df = pd.DataFrame(trans)

[########################################] | 100% Completed | 184.91 s

In [9]:
expanded_df["Target"] = data["Lineage"].tolist()
expanded_df["Test"] = data["Test"].tolist()

In [10]:
expanded_df.to_parquet('../../data/features/dsp_real.parquet', engine='pyarrow')

/opt/conda/lib/python3.10/site-packages/pandas/io/parquet.py:190: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  table = self.api.Table.from_pandas(df, **from_pandas_kwargs)